@media only screen and (min-width: 32.5em) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    section:nth-child(3) {
        grid-column: span 2;
    }
    img {
        float: right;
        margin: 5px;
    
    }
    p {
        margin: .75em;
        
    
    }
    img {
        box-shadow: 5px 10px 18px rgb(94, 92, 92);
    }

}