body {
    font-size: 1em;
    line-height: 2;
    background-color:rgba(38, 114, 114, 0.1);
    
    font-family: Verdana, Geneva, sans-serif;
    
}
nav, main {
    margin: 1.5rem auto;
    
}
main {
    display: grid;
    grid-template-columns: 1fr;
}
 /*@media only screen and (min-width:60em) {
main { grid-template-columns: 1fr 1fr 1fr;
}
    section: nth-child(3) {
        grid-column: span 1;

}
@media only screen and(min-width:32.5em) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    section:nth-child(3) {
        grid-column: span 2;
    }
*/
header, footer {
    background-color:rgba(38, 114, 114, 0.9);
    color: rgb(63, 191, 191);
    
    text-align: center;
    padding: .5rem;
    border-radius: 5px;
    font-family: 'Baskervville', Palatino, serif;
    letter-spacing: 2px; 
    margin: 1.5rem auto;
    max-width: 760px;
    

}
section {
    padding: .5em;
}
header {
    text-shadow: 1px 1px white;
    
}
.contrast {
    background-color: grey;
    color: white;
}
h2 {
    
    padding-right: 1em;
    text-align: center;
}
h3 {
    margin: auto;
    
    

}
img {
    
    margin: auto;
    box-shadow: 5px 10px 18px rgb(94, 92, 92);

}
.responsive {
    max-width: 100%;
    height: auto;
}



footer {
    text-shadow: 1px 1px black;
    color: white;
    
}

a:hover {
    background-color:rgba(38, 114, 114, 0.9);
    color: white;
    text-decoration: none;
}
a {
    color:  rgb(63, 191, 191);

}