@media only screen and (min-width:32.5em) {
   nav { /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,263d80+0,596895+100 */
/*background: #1e5799; /* Old browsers */
/*background: -moz-linear-gradient(top,  #1e5799 0%, #263d80 0%, #596895 100%); /* FF3.6-15 */
/*background: -webkit-linear-gradient(top,  #1e5799 0%,#263d80 0%,#596895 100%); /* Chrome10-25,Safari5.1-6 */
/*background: linear-gradient(to bottom,  #1e5799 0%,#263d80 0%,#596895 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#596895',GradientType=0 ); /* IE6-9 */

/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,263d80+0,7a8fcc+100 */
/*background: #1e5799; /* Old browsers */
/*background: -moz-linear-gradient(top,  #1e5799 0%, #263d80 0%, #7a8fcc 100%); /* FF3.6-15 */
/*background: -webkit-linear-gradient(top,  #1e5799 0%,#263d80 0%,#7a8fcc 100%); /* Chrome10-25,Safari5.1-6 */
/*background: linear-gradient(to bottom,  #1e5799 0%,#263d80 0%,#7a8fcc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7a8fcc',GradientType=0 ); /* IE6-9 */
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,7a8fcc+1,263d80+100 */
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #7a8fcc 1%, #263d80 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1e5799 0%,#7a8fcc 1%,#263d80 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1e5799 0%,#7a8fcc 1%,#263d80 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#263d80',GradientType=0 ); /* IE6-9 */

}


    .headings h1 {
        font-size: 3rem;

    }
    .motto p {
        margin-top:-1rem;
        font-size:1.5rem;
    }
    .forecast {
        display: flex;
        height: 100px;
        align-items: center;
        justify-content: center;
        margin-top:1rem;
        margin-bottom:1rem;
      
        background-color:rgba(0,0,0,0.1);

    }
    .forecast p {
        background-color: white;
        border: 1px solid  #17244D;
        

    }
    body {
        line-height:1.25rem;
    }
    article {
        flex-direction:row-reverse;

    }
   
}