@media only screen and (min-width:60em) {
    
    
    
    nav button {
        display: none;
    }
   
    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        
       
    }
    nav ul {
        padding-left:1rem;
        padding-right:1rem;
        
        
        
    }
    nav ul li.menu {
        display: block;
        
    }
    nav ul li {
        float:left;
       
    }
    
    nav ul li a {
        border: none;
        padding: .6rem 1.5rem;
            
    }
    nav ul.hide {
        display: block
    }
    /*===============weather summary==========*/
    .summary {
        top:2.5rem;
        left:5rem;
        margin:0 auto;
        width:300px;
        height:250px;
        grid-column-gap: .5rem;
      
    }

    .summary p, .summary span {
        font-size: 1.5rem;
        line-height:1;
        margin-top:.5rem;
    }

   
    .summary h3 {
        padding-top: .5rem;
        font-size:1.25rem;
        margin:.25rem;
     }

     /*===========================*/
    .city {
        font-size:2.5rem;
        margin-top:.5rem;
    }
    .logo {
        max-width:100%;
        max-height:100%;
    }
    .headings h1 {
        font-size: 3rem;

    }.motto p {
        margin-top:-1rem;
        font-size:1.5rem;
    }

    
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;

    }
  
    .photobox:hover {
        box-shadow: 0px 0px 30px #888888;

    }
    /*=====form======================*/
    form label.sbs {
        padding: .25rem 0;
        font-size:.8rem;

    }
    .thanks h1{
        padding:2rem;
        font-size:2rem;
        line-height:1.5;
    }
   
    /*=====home===============*/
    .topstory article h4 {
        margin-left: .75rem;
    }
    
    .topstory article p {
        text-align:left;
        margin-left: .75rem;
    }
    .topstory p.author{ 
        margin-left: .75rem;

    }
    .topstory article {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap:1rem;
        padding:1rem;
      
    }
    .topstory img.articleimage {
        grid-column:3;
        grid-row:1/3;
        align-self: end;
        border:1px solid #17244D;
        box-shadow: 0 0 10px #111;
        width:95%;
    }
    .topstory article div {
        grid-column: 1/3;
        grid-row: 1/3;
        align-self:center;

    }
    
            
    article {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap:1rem;
        padding:1rem;
    }
    article div {
        grid-column: 1/3;
        grid-row: 1/3;
        align-self:center;
    }
    .articleimage {
        grid-column:3;
        grid-row:1/3;
        align-self: end;
        width:100%;
        box-shadow: 5px 5px 15px #263D80;

    }

/*========home=========*/
div.townInfo {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    width:980px;
    /*box-shadow: 0 5px 10px 5px #263D80;*/
}

div.townInfo section {
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 5px 10px 5px #263D80;
    
}
div.townInfo section div {
    margin-top:-.5rem;
}

div.townInfo img {
    width:100%;
    padding-bottom: 1rem;
}

    }
