@media only screen and (min-width:32.5em) {
   nav { 
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #7a8fcc 1%, #263d80 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1e5799 0%,#7a8fcc 1%,#263d80 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1e5799 0%,#7a8fcc 1%,#263d80 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#263d80',GradientType=0 ); /* IE6-9 */

}

    .motto p {
        margin-top:-1rem;
    }
    
    
    body {
        line-height:1.25rem;
    }
    .summary {
        top:1.25rem;
        left:3.5rem;
    }
    #windchill, #temp, #windspeed {
        margin:0;
    }
    h4.top {
        margin-bottom: -.25rem;
    }
   
    article h4 {
        margin-bottom:0;
    }
    p.author{ 
        margin-left: 1rem;

    }
    article  p{
        text-align:left;
        text-justify:auto;
    }
    
    .contactinfo  {
        grid-template-rows: 75px 75px 75px;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 0;
        grid-column-gap: 1.5rem;
        margin:0 auto;
        margin-bottom: -1rem;
        padding:1rem;
       
    }
    .contact1  {
        grid-column: 2;
        grid-row: 1;
        justify-self:start;
    }
    .contact2 {
        grid-column: 2;
        grid-row: 2;
        font-size: 1rem;
      
    }
    .socialmedia {
        grid-column: 2;
        grid-row:3;
       
    }
   
   .map {
       display:block;
       grid-column: 1;
       grid-row: 1 / 4;
       max-width:90%;
       margin:auto;
       align-self: start;
       box-shadow: 1px 1px 15px #17244D;
      
   }
   .forecast {
    display:grid;
    margin:0 auto;
    margin-bottom:1rem;
            
}

.fiveday {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border: 1px solid  #17244D;

}

.fiveday div{
      border:1px solid  #17244D;
      grid-row:1;
     
   }

   .day {
      padding:5px 30px;
      
   }
  .temp {
     margin-top:0;
      

      
  }
  .fiveday img {
      margin:0;
     
  }
  .fiveday h3 {
      margin-top:0;
      margin-bottom:0;
     
  }
  .gallery {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      

  }
 
  /*=================home=======*/

  div.townInfo section {
      display:flex;
      max-width: 660px;
      flex-direction: row;

  }
  div.townInfo section:nth-child(even) {
      flex-direction:row-reverse;
  }
  div.townInfo section div {
      padding:1.5rem;
      

  }
  div.townInfo h3 {
      line-height:2rem;
      
  }
  div.townInfo p {
    line-height:1;
      } 
  div.townInfo img {
      max-width:100%;
      height:auto;
    }
  
}

