.font {
    font-family: 'Merriweather', serif;
    

}
.sansfont {
    font-family: 'Merriweather Sans', sans-serif;
   
}
body {
    max-width: 960px;
    font-family: 'Merriweather Sans', sans-serif;
    color: #3D61CC;
    padding: .5em;
    
}
p {
    
    color: #596895;
    margin-left: 4rem;
    margin-right: 4rem;
    
    
}
.persona {
    border: 1px dashed #17244D;

}
section {
    padding: 1em;
    margin: 1rem;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem auto;
    max-width: 700px;
    border:  5px solid #263D80;;
}
h1, h2, h3 {
   
    font-family: 'Merriweather', serif;
    
}
h1 {
    color: white;
    text-align: left;
    background-color:#263D80;
}
h2 {
    background-color:#7A8FCC;
    color: #17244D;
    margin-left: 4em;
    margin-right:4em;
    padding: .5rem;
    text-align:center;
    
}
h3 {
    text-align: center;
}

header, footer {
    background-color:#263D80;
   
    margin: auto;
    max-width: 760px;
    font-family: 'Merriweather', serif;
    text-align: center;
  
}

header {
    border-radius: 50px 50px 5px 5px;
}

img {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    height: auto;

}
nav a {
    color:#3D61CC;
}
nav {
    max-width:600px;
    color:  #263D80;
    text-align: center;
    margin: 0 auto;
   

}
nav li {
    display: inline-block;
    padding: 1rem;
    

}
nav ul {
    list-style-type: none;
      
}
nav a:hover {
    background-color: #596895;
    color:white;
    padding: .5rem;
}
a:hover {
    background-color:#7A8FCC;
    padding:.5rem;
    color: #17244D;
}
footer a {
    color: white;
}
  
footer {
    color: white;
    border-radius: 5px 5px 50px 50px;
    padding:.5rem;
    
}
.logo {
    margin-right: .5rem;
    margin-top: 1rem;
    border-radius: 1em;
    
}
header {
    display: grid;
    grid-template-columns: 1fr 4fr;
}