.font {
    font-family: 'Merriweather', serif;
    color: #263D80;

}
.sansfont {
    font-family: 'Merriweather Sans', sans-serif;
    color: #596895;
}
body {
    max-width: 960px;
    font-family: 'Merriweather Sans', sans-serif;
    color: #3D61CC;
    
}
p {
    color:#3D61CC;
    margin: 1rem;
    
    
}
.persona {
    border: 1px dashed #17244D;

}
section {
    padding: 1em;
    margin: 1rem;
    text-align: center;
    
    
}

main {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem auto;
    max-width: 700px;
    border:  5px solid #263D80;;
}
h1, h2, h3 {
    text-align: center;
    color: #263D80;
    font-family: 'Merriweather', serif;
    
}
header, footer {
    background-color:#7A8FCC;
    margin: auto;
    max-width: 760px;
    font-family: 'Merriweather', serif;
    text-align: center;


}
header {
    border-radius: 50px 50px 5px 5px;
}
footer {
    border-radius: 5px 5px 50px 50px;
    color:  #263D80;
}
img {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    height: auto;

}
nav a {
    color:#3D61CC;
}
nav {
    max-width:600px;
    color:  #263D80;
    text-align: center;
    margin: 0 auto;
   

}
nav li {
    display: inline-block;
    padding: 1rem;
    

}
nav ul {
    list-style-type: none;
      
}
nav a:hover {
    background-color:#3D61CC;
    color: white;
}
footer a {
    color: white;
}
.logo {
    margin-right: -.5rem;
    margin-top: 1rem;
    border-radius: 1em;
    
}
header {
    display: grid;
    grid-template-columns: 1fr 4fr;
}