
@media only screen and (min-width:955px) {

header { 
    flex-direction: row;
    border-bottom: 2px solid #ff6709;
    border-top: 4px solid  #177FFF;
    

}
.logo {
    border-bottom: none;
    border-top: none;
}


nav.topNav ul.hide {
    display: grid;
}
nav.topNav button{
    display: none;

}
nav.topNav {
    border-top:none;
    
}
nav.topNav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    align-content: space-between;
    justify-content: space-between;
    
}

nav.topNav ul li{
    border: none;
    align-self: center;
    justify-self: center;
    font-size: 1rem;
    /*max-width:200px;*/
    text-align:left;
    
    

}

    
button.call {
    right:55px;
    bottom:80px;
}

.contactForm {
    font-size:1rem;
}
section.testimonials {
    font-size: 1.75rem;
}
form {
    font-size:1rem;
}

}