@media only screen and (min-width:650px) {
    nav.topNav ul {
        text-align:center;

    }
    nav.topNav button {
        text-align:center;
    }
    button.call {
        position:absolute;
        padding: .5rem 2rem;
        font-size:2rem;

    }
    section.hero {
        position: relative;
    }
    /*picture.heroimage img {
        position:relative;
    }*/
    button.call{
        right:50px;
        bottom: 50px;
    }
   .weather {
       display: flex;
       justify-content: space-evenly;
       
       padding:0;
   }
   .weather h4{
       margin:0;
       }

section.testimonials {
    display: grid;
    
    grid-template-columns: 1fr;
    
}
section.testimonials img{
    max-width: 95%;
    grid-column: span 2;

}
div.test1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
div.test2 {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
div.test2 div.text {
    grid-column:1;
    grid-row:2;
}
div.test2 img{
    grid-column:2/4;
}
/*section.testimonials div.text:nth-child(3) {
    grid-column: 1;

}
section.testimonials img:nth-child(2) {
    grid-column:2 span;
}
section.testimonials h3 {
    font-size: 2rem;
    
}*/
}