@media only screen and (min-width:650px) {
    nav.topNav {
        border-top: 2px solid #ff6709;
    }
    /*header {
        border-top:4px solid  #177FFF;
  
    }*/
    .logo {
        border:none;
    }
    nav.topNav ul {
        text-align:center;

    }
    nav.topNav ul li {
        max-width:950px;
    }
    nav.topNav button {
        text-align:center;
    }
    /*=======================*/
    section.hero {
        position: relative;
    }
    /*picture.heroimage img {
        position:relative;
    }*/
    /*===============*/
        
    button.call {
        position:absolute;
        padding: .5rem 2rem;
        font-size:2rem;

    }
    
    button.call{
        right:50px;
        bottom: 50px;
    }
    /*================*/
   section.weather {
       display: flex;
       justify-content: space-evenly;
       
       text-align:left;
       line-height:1.25;
       
       padding:0;
   }
   .weather h4{
       margin:0;
       align-self:center;
       }
    section.weather img#icon {
        width:30px;
        height:auto;
    
    }
    /*
    section.weather h4 {
    display: inline-block;
}*/
/*====================*/
section.testimonials {
    display: grid;
    grid-template-columns: 1fr;
    font-size:1.25rem;
    
}
section.testimonials img{
    max-width: 95%;
    grid-column: span 2;

}
div.test1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
div.test2 {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
div.test2 div.text {
    grid-column:1;
    grid-row:2;
}
div.test2 img{
    grid-column:2/4;
}
/*section.testimonials div.text:nth-child(3) {
    grid-column: 1;

}
section.testimonials img:nth-child(2) {
    grid-column:2 span;
}
section.testimonials h3 {
    font-size: 2rem;
    
}*/
/*==========contactForm====*/
label.above input, label.sbs input {
    padding: .25rem;
}
/*=======iframe=========*/
.iframe iframe {
    max-width:100%;
}

}